
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');


.kys-font {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  /* 전체폰트,*/
}

/*  career section start*/
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
.timeline-item {
  padding: 20px 30px;
  position: relative;
  background-color: inherit;
  width: 50%;
  opacity: 1;
  transform: translatey(20px);
  transition: all 0.5s ease;

}
.timeline-item-content {
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.timeline-item:nth-child(odd) {
  left: 0;
}
.timeline-item:nth-child(even) {
  left: 50%;
}
.timeline-item:nth-child(odd)::before {
  content: "";
  position: absolute;
  border: 4px solid #ff9f55;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: 50%;
  right: -8px;
  background-color: #ffffff;
  z-index: 1;

}
.timeline-item:nth-child(even)::before {
  content: "";
  position: absolute;
  border: 4px solid #ff9f55;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: 50%;
  left: -8px;
  background-color: #ffffff;
  z-index: 1;
  
}


.portfolio-item {
  cursor: pointer;
  margin-bottom: 1.8rem;
}
.modal-dialog {
  max-width: 50%;
}